<div style="text-align:center">
    <h1>
        User Profile
    </h1>
</div>
<div class="userCardContainer">
    <div class="userCard">
        <div class="userInfoContainer">
            <div class="user-username">
                Username: {{ user.username }}</div>
            <div class="user-email">
                Email: {{ user.email }}
            </div>
            <div class="user-firstName">
                First name: {{ user.first_name }}
            </div>
            <div class="user-lastName">
                Last name: {{ user.last_name }}
            </div>
            <div class="user-location">
                Location: {{ user.location }}
            </div>
            <div class="user-age">
                Age: {{ user.age }}
            </div>
            <div class="user-picture">
                Profile picture: {{ user.profile_picture }}
            </div>
            <div class="user-accountCreatedDate">
                Account creation date: {{ user.created_at }}
            </div>
        </div>
        <div class="favArtistForm">
            Add new favorite artist:
            <form>
                <input type="text" name="name" placeholder="Name of artist you like" [(ngModel)]="artistData.name">
                <br>

                <button (click)="submitArtistEntry($event)">Submit</button>
            </form>
        </div>
        <div class="favArtistContainer">
            List of favorite artists:
            <div *ngFor="let artist of user.favoriteArtists" class="userFavArtistCard">
                <div class="user-favArtists">{{ artist.name }}

                        <div (click)="removeFavArtist(artist)" class="removeButton">X</div>
                </div>
            </div>
        </div>
        <div class="favTagContainer">
            <div *ngFor="let tag of user.favoriteTags" class="userFavTagCard">
                <div class="user-favTags">{{ tag.name }}</div>
            </div>
        </div>
        <div class="usersPostContainer">
            List of posts by this user:
            <div *ngFor="let post of user.posts">
                <div class="user-post-date">{{ post.created_at }}</div>
                <div class="user-post-content">{{ post.content }}</div>
            </div>
        </div>
        <div class="usersCommentContainer">
            List of comments by this user:
            <div *ngFor="let comment of comments">
                <div class="user-comment-date">{{ comment.created_at }}</div>
                <div class="user-comment-content">{{ comment.content }}</div>
            </div>
        </div>
    </div>
</div>
