<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Music Matches
  </h1>
</div>


<div class="userCardContainer">

  <div *ngFor="let user of users" class="userCard">
    
    <div class="userInfoContainer">
      <div class="user-username">
        <a routerLink="/user_profile" (click)="goToUserProfile(user)"> Username: {{ user.username }}</a>
      </div>
    </div>

    <div class="favArtistContainer">
      List of favorite artists:
      <ul *ngFor="let artist of user.favoriteArtists" class="userFavArtistCard">
        <li class="user-favArtists">{{ artist.name }}</li>
      </ul>
    </div>

    <div class="favTagContainer">
      <div *ngFor="let tag of user.favoriteTags" class="userFavTagCard">
        <div class="user-favTags">{{ tag.name }}</div>
      </div>
    </div>

    <div class="usersPostContainer">
      List of posts by this user:
      <ul *ngFor="let post of user.posts">
        <li class="user-posts">{{ post.content }}</li>
      </ul>
    </div>

    <div class="usersCommentContainer">
      <ul *ngFor="let comment of user.comments">
        <li class="user-comments">{{ comment.content }}</li>
      </ul>
    </div>

  </div>
</div>