<ul class="nav">
    <li>
        <h2>
            <a routerLink="/" routerLinkActive="active">Home</a>
        </h2>
    </li>
    <li>
        <h2>
            <a routerLink="/register" routerLinkActive="active">Register</a>
        </h2>
    </li>
    <li>
        <h2>
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </h2>
    </li>
    <li>
        <h2>
            <a routerLink="/post" routerLinkActive="active">Write post</a>
        </h2>
    </li>
    <li>
        <h2>
            <a routerLink="/profile" routerLinkActive="active">Profile</a>
        </h2>
    </li>
    <li>
            <h2>
                <a routerLink="/users_list" routerLinkActive="active">User List</a>
            </h2>
        </li>
        <li>
                <h2>
                    <a (click)="logout()">Logout</a>
                </h2>
            </li>
  </ul>